.bottomNavbar {
    font-family: 'Roboto', sans-serif;
}

#testing {
    display: flex;
    margin-left: 2.5%;
}

#swam {
    max-height: 64px;
    width: auto;
}

#collegiate {
    max-height: 64px;
    width: auto;
    margin-left: 15px;
}

.socialMedias > a:visited {
    color: #dcdcdc;
}

.newsletterFields {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletterBox {
    background: url('https://www.bestpromoandapparel.com/we/we.dll/Pic?UN=109646&F=HomeSection8&TS=44567.4907638889') no-repeat left top;
    background-attachment: fixed;
    background-size: cover;
}

.testbottom {
    background-image: linear-gradient(#004e7e, #165391);
}